@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #fff;
}
.container {
  width: 100%;
  height: 100vh;
  background: #1a2227;
}
nav {
  background-color: #1a2227;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.logo {
  cursor: pointer;
  width: 120px;
}
nav .nav-links {
  display: flex;
  column-gap: 20px;
}
.nav-links a {
  color: #fff;
  font-size: 24px;
}
.row {
  height: 100%;
  width: 100%;
  display: flex;
}
.row .col-1,
.row .col-2 {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.row .col-1 {
  padding-left: 8%;
}
.row .col-1 h1 {
  font-size: 65px;
  line-height: 80px;
}
.row .col-1 p {
  margin-top: 10px;
  padding-right: 10px;
  line-height: 1.4px;
  color: #ddd !important;
}
.row .col-1 .price {
  margin-top: 20px;
  letter-spacing: 2;
}
.row .col-1 .buttons {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}
.col-1 .buttons button,
.col-1 a {
  display: inline-block;
  width: fit-content;
  padding: 18px 50px;
  background-color: red;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.col-1 .buttons button:hover,
.col-1 a:hover {
  opacity: 0.6;
}
.col-2 {
  background-color: red;
  position: relative;
}
.col-2 .feature-img {
  width: 100%;
  text-align: center;
}
.col-2 .feature-img img {
  margin-top: 100px;
  width: 70%;
  transform: rotate(-20deg);
  transition: 0.5s ease;
}
.col-2 .feature-img img:hover {
  transform: rotate(0);
}
.small-img-wrapper {
  display: flex;
  width: 80%;
  margin: 70px auto 0;
  align-items: center;
  justify-content: space-around;
}
.small-img {
  width: 80px;
  height: 80px;
}
.small-img img {
  width: 120px;
  transform: rotate(-20deg);
  transition: 0.5s ease;
}
.small-img img:hover {
  transform: translate(-20px, 10px) rotate(0);
}
.small-img:nth-child(1) {
  background-color: #b9c8ff;
}
.small-img:nth-child(2) {
  background-color: #9dff90;
}
.small-img:nth-child(3) {
  background-color: #b1ffdd;
}
.small-img:nth-child(4) {
  background-color: #ff6767;
}
